{% load static %}
<header class="site-header">
    <nav class="navbar navbar-expand-md bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'social:home' %}">
                <img src="{% static 'social/img/logo.png' %}" width="30" height="30" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'social:group_list' %}">Groups</a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    <!-- Dropdown start -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{ request.user.profile.image.url }}" width="30" height="30" class="rounded-circle" loading="lazy"> {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'social:group_create' %}">Create Group</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'accounts:profile' request.user.pk %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'accounts:update' %}">Update Profile</a>
                                <a class="dropdown-item" href="{% url 'accounts:pwchange' %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                            </div>
                        </li>
                    <!-- Dropdown stop -->
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'accounts:login' %}">Login/Register</a>
                            </li>
                        {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>