{% extends 'social/base.html' %}
{% block title %}Delete {{ group.name }}{% endblock title %}
{% block body %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Delete Group</legend>
                <h3>Are you sure you want to delete "{{ group.name }}"?</h3>
            </fieldset>
            <div class="form-group">
                <button class='btn btn-outline-danger' type='submit'>Delete</button>
                <a class='btn btn-outline-secondary' href="{% url 'social:group_detail' group.slug %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body %}